@import '../../styles/main.scss';
.input {
  @include font-style(16px, 400, 22px);
  cursor: text;
  padding: 7px 15px;
  color: $text-color-black;
  border: none;
  outline-color: $colors-interface-blue;
  outline-width: 0.8px;
  border-radius: $common-border-radius;
  background: $colors-interface-white;
  box-shadow: 0px 4px 6px 3px rgba(45, 83, 219, 0.1);
}
