@import '../../../styles/main.scss';

.item {
  background-color: $colors-interface-white;
  width: 100%;
  min-height: 100px;
  border-radius: $common-border-radius;
  border: 1px solid $colors-interface-blue;
  box-sizing: border-box;
  padding: 7px;
  gap: 7px;
  display: flex;
  flex-direction: column;

  &__title {
    @include font-style(14px, 700, 21px);
    color: $text-color-black;
  }

  &__description {
    @include font-style(14px, 400, 21px);
    color: $text-color-black;
    text-align: justify;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.date {
  border-radius: $common-border-radius;
  background-color: $colors-interface-gray-light;
  display: flex;
  flex-direction: column;
  padding: 6px 8px;
  max-width: 100px;
  width: 100%;

  &__create {
    span {
      @include font-style(10px, 500, 15px);
    }
    @include font-style(10px, 400, 15px);
  }
}
