$colors-interface-white: #ffffff;
$colors-interface-blue: #005c84;
$colors-interface-gray-light: rgba(221, 223, 231, 1);
$colors-interface-dark-blue: rgba(18, 80, 107, 1);

$common-border-radius: 5px;

$text-color-white: #ffffff;
$text-color-gray: #9c9c9c;
$text-color-black: #000000;

$color-low-priority: #46f7b7;
$color-medium-priority: #f5eb88;
$color-high-priority: #f27f77;
