$colors-interface-white: #ffffff;
$colors-interface-blue: #3179ba;
$colors-interface-gray-light: #dddfe7;

$common-border-radius: 8px;

$text-color-white: #ffffff;
$text-color-gray: #9c9c9c;
$text-color-black: #000000;

$color-low-priority: #46f7b7;
$color-medium-priority: #f5eb88;
$color-high-priority: #f27f77;
