@import '../../styles/main.scss';

.header {
  background-color: $colors-interface-blue;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1380px;
}

.nav {
  display: flex;

  &__list {
    display: flex;
    gap: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
  }
}
